*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: sans-serif;
    }
.h1{
    align-items: center;
    font-style:normal;
    text-align: center;
    margin-top: 20px;
    
}
.h2{
    margin-top:20px;
    margin-left:150px;
    margin-bottom: 0%;
    
    
     

}
.h3{
    margin-top: 0px;
}
.final{
    /* margin-top: 30px;
    margin-left: 150px; */
margin-bottom: 50px;
margin-top:-100px;
}
.ff{
    /* margin-top: 20px;
    margin-left: 300px;*/
    width: 50%;
    margin-left: 17.6rem;
    
}
.group{
    margin: 35px 10px;
    padding:10px 10px;
    width: 50%;
    
}

.appointment {
    display: flex;
    margin-left:50px;
    padding: 10px;
    margin-top: -30px;
    height: 5rem;
    
       


}

.form-group{
    /* display: flex; */
    margin: 15px 0;
    border:0;
    width: auto;
    background:white;
    padding:5px 40px;
     color:rgb(153, 12, 125);
}
.form-control{
    outline-color:  rgba(60, 92, 139, 0.658);
    margin-top: 0;
    outline-style: solid;

}
.button{
    align-items: center;
    border:0;
    background: rgb(0, 191, 255);
    color: #d8ddaa;
    padding: 12px 100px;
    border-radius: 20px;
    cursor: pointer;
    width: 250px;
    transition: 0.5s;
    margin-left: 45px;
    margin-top: 15px;


}
.button:hover{
    background:rgb(177, 24, 24);

}
::placeholder{
    color:blueviolet;
    
}
.tt{
    
    margin-top: 0px;
    width: 30%;
    margin-left: 70px;
    /* width:600px; */
    /* height: 100px; */
    
    
    /* display: flex; */

    
}
.tt{
    float: right;
    margin-top:-30px;

}
.gg{
    display: flex;

}
.heading{
    width: 100%;
}
.custom-select{
    outline-color:  rgba(60, 92, 139, 0.658);
    outline-style: solid;   
}


@media screen and (max-width:700px){
    .form {
        display:inline-block;
    }
}
@media screen and (max-width:700px){
    .app{
        
        flex-direction: column;
    }
}
/* @media screen and (max-width:700px){
   .tt {
        display:flex;
        flex-direction: column;
    }
}
 */
