*{
    
padding: 0;
margin:0;
box-sizing: border-box;
font-family: sans-serif;
}
/* font style */
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');


/* color */
:root {
    --primary: rgba(11, 136, 252, 0.555);
    --primary-light:rgba(0, 31, 63, 0.425);
    --secondary:#adefd1ff;
    --secondary-light:rgba(173, 239, 209, 0.555);

}


/* remove browser style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

li {
    list-style-type: none;

}

a {
    text-decoration: none;
}

img {
    width: 100%;
    height: 100%;
}

header {
    /* min-height: 0vh; */
    background-position: center;
    position: relative;
}

.header-content {
    background-color: black;
    padding: 1rem;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    height: 75px;
    margin-top: 1rem;

}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: space-between;
    align-items: center;
    /* color: white; */
    text-decoration: none;
}

.nav-links a {
    color: white;
    
}

 li {
    display: block;
    padding: 10px;
    

}

 li:hover {
    background-color: green
}

.nav-links a:hover {
    color: white;
    text-decoration: none;
}

.burger {
    display: none;
    cursor: pointer;
}



/* media quaries */
/* @media only screen and (max-width:1000px) {
    .nav-links{
        position: absolute;
        flex-direction: column;
        background-color: var(--secondary-light);
        right: -10rem;
        top: 12vh;
        height: 50vh;
        width: 0%;
        padding: 1.5rem 0;
        transition: all 400ms;
    }
    .burger{
        display: block;
    }

}     */
.container{
    display: block;
    
    /*  align-items: center; */
    /* background: rgba(14, 213, 120, 0.608); */
    
}
.heading{
display: flex;
    /* align-items: center; */
justify-content: center;
margin-top: 50px;
margin-bottom: 40px;

}
.but{
    background-color: rgba(13, 231, 133, 0.859);
    color: white;
    font-size: large;
    border-color:rgba(13, 231, 133, 0.859) ;
   display: flex;
     width:auto;
  /* align-items: center;
  justify-content: center;    */
  padding: 10px;
  margin-top: 20px;
  margin-left: 570px;
}
textarea{
    resize: none;
    height:120px;
    
}


input{
    color: white;
}
.placeholder{
    color:white ;
}



.form-control{
    text-decoration: white;
    background-color: rgba(13, 231, 133, 0.859)!important;
    
}

